
html {

    overflow-y: scroll;
    height: 100%;
}

body {

    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav {float:right;}

#cfhome {float:left;}

#nav_wrapper {

    background-color: rgba(255,255,255,0.95);
    padding: 1.2vw 0 .5vw 0;
    border-bottom: 2px inset #bbbbbb;
}

#header_wrapper, #nav_wrapper {

    width: 100%;
    position: fixed;
    top: 0;
}

#rows {

    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

[id^="pic"] {display: none;}

#homepic img {position: absolute;}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
} 

li {

    float: left;
    cursor: pointer;
    cursor: hand;
}

*:focus {outline: 0;}

#people, #places, #things {border-right: 1px inset #bbbbbb}

li, pre, #tilleyhome, #tilley {

    font-family: 'Lato', sans-serif;
    color: #000000;
}

li {
  
    display: block;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
}

a:hover, a:active {color: #bbbbbb;}

* {box-sizing: border-box;}

[id^="col"] {

    float: left;
    border: none;
}

#tilley, #clobio, #clobox, pre {float: left;}

#tilley {font-weight: 500;}

pre {font-weight: 400;}

#tilleyhome {

    font-weight: 100;
    position: absolute;
}

#clobox img {
    width:100%;
    height: auto;
}


/*************************************************************************************************************/



@media only screen and (min-device-width: 769px) {
    
    #header_wrapper {height: 5vw;}
    
    #rows {margin-top: 4.6vw;}
    
    #homepic img {
    
        width: 70vw;
        height: auto;
        top: 4.8vw;
        left: 1.45vw;
    }
    
    li {
    
        font-size: 1.6vw;
        padding-left: 1.45vw;
        padding-right: 1.45vw;
    }
    
    #col1 {width: 8vw;}
    #col2 {width: 28vw;}
    #col3 {width: 28vw;}
    #col4 {width: 28vw;}
    #col5 {width: 8vw;}
    
    [id^="col"] {padding: .2vw 0vw .2vw .2vw;}
    
    #clobox {
    
        width: 60vw;
        margin: 4.9vw 1vw 1vw 1.45vw;
    } 
    
    #tilley {font-size: .8vw;}
    
    #clobio {
    
        font-size: 1.2vw;
        width:29vw;
        margin: 29vw 1vw 1vw 1vw;
    }

    #tilleyhome {

            top: 49vw;
            right: 2vw;
        font-size: 1vw;
    }
}




/*************************************************************************************************************/





@media only screen and (max-device-width: 768px) {
    
    #nav_wrapper {border-bottom: 1px inset #bbbbbb;}
    
    #cfhome {padding-left: 1vw;}
    
    #header_wrapper {height: 6.5vw;}
    
    #rows {margin-top: 8vw;}
    
    [id^="pic"] {

        -webkit-user-select: none;
        -webkit-touch-callout: none;
        pointer-events: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0;

    }
    
    #homepic img {
    
        width: 100vw;
        height: auto;
        top: 30vw;
    }
    
    li {
    
        font-size: 2.95vw;
        padding-left: 1.45vw;
        padding-right: 1.45vw;
    }
    
    #col1 {width: 0vw;}
    #col2 {width: 100vw;}
    #col3 {width: 100vw;}
    #col4 {width: 100vw;}
    #col5 {width: 0vw;}
    
    [id^="col"] {padding: 0;}
    
    #clobox {
    
        width:100vw;
        margin: 8vw 0vw 0vw 0vw;
    } 
    
    #tilley {font-size: 2vw;}
    
    #clobio {
    
        font-size: 3.8vw;
        width:98vw;
        margin: 1vw 1vw 1vw 1vw;
    }

    #tilleyhome {

            top: 99vw;
            right: 5vw;
        font-size: 1.2vw;
    }

    @media only screen and (orientation: landscape) {

        li {
    
            font-size: 2vw;
            padding-left: 1vw;
            padding-right: 1vw;
        }
    
        #col1 {width: 0vw;}
        #col2 {width: 70vw;}
        #col3 {width: 70vw;}
        #col4 {width: 70vw;}
        #col5 {width: 0vw;}
    }
}
